<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Pool Paty</title>
    
    <link rel="stylesheet" href="./bootstrap-5.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/estilo.css">
  
</head>
<body class="bodyindex">
  <div class="Container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Eventos</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="./index.html">Home</a>
            </li> 
            <li class="nav-item">
              <a class="nav-link" href="./cliente/list">List</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <header>
    <h2 class="titulo">Pool Party</h2>
  </header>


    <img class="imgindex" src="https://static.wixstatic.com/media/201005_19f39354accb482f9496f03e98ef8e5c~mv2.jpg/v1/fit/w_920%2Ch_613%2Cal_c%2Cq_80/file.jpg" alt="">

  <footer>
    <ul class="rodape">
      <li>
        Localização: P12 Parador Internacional
      </li>

      <li>
        (48) 3284-8156
      </li>

      <li>
        Serv. José Cardoso de Oliveira, 762 - Jurerê Internacional, Florianópolis - SC, 88053-306
      </li>
    </ul>
  </footer>
  <script scr="./bootstrap-5.0.0/js/bootstrap.min.js"></script>
  <script scr="./js/pooper.min.js"></script>
</body>
</html>